<%= form_for @tag, :url => "/admin/tags" do |form| %>
  <% if tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lg:w-1/2 md:w-2/3 mx-auto">
    <div class="">
      <div>
        <%= form.label :title, "Title", :class => "uppercase text-sm text-gray-600 font-bold" %>
        <%= form.text_field :title, :class => "w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" %>
      </div>
      <div>
        <%= form.label :status, "Status", :class => "uppercase text-sm text-gray-600 font-bold" %>
        <%= form.select :status, options_for_select(Tag.statuses.keys.to_a), {}, { :class => "w-full bg-gray-300 text-gray-900 mt-2 p-3 rounded-lg focus:outline-none focus:shadow-outline" } %>
      </div>
      <div class="mt-8">
        <%= form.submit "save tag", :class => "uppercase text-sm font-bold tracking-wide bg-gray-600 text-gray-100 p-3 rounded-lg w-full focus:outline-none focus:shadow-outline" %>
      </div>
    </div>
  </div>
<% end %>
